.profile__info {
  padding: 0 30px 0 30px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    'name edit-btn'
    'job .';
  align-items: baseline;
  row-gap: 16px;
  column-gap: 18px;
}

@media (max-width: 629px) {

  .profile__info {
    padding: 0;
    row-gap: 14px;
    column-gap: 10px;
  }

}