.profile__job {
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
  grid-area: job;
  max-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 629px) {

  .profile__job {
    font-size: 14px;
    line-height: 1;
    text-align: center;
  }

}